body {
    margin: 0 0 70px 0;
    background-color: #dfdfdf;
    font-family: 'Roboto', sans-serif;
}

header {
    background-color: black;
    color: white;
}

header a {
    color: white;
}

header svg {
    height: 24px;
    width: 24px;
    position: absolute;
}

header span {
    margin-left: 30px;
}

nav {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    font-size: 20px;
}

nav a {
    text-decoration: none;
    font-weight: 900;
}

p {
    font-weight: 300;
}

h4 {
    margin-top: 15px;
    margin-bottom: 0;
}