.product-page {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin: 50px;
}

.product-page p {
    text-align: justify;
}

.product-page img {
    width: auto;
}

.info {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 400px;
}

.product-price {
    display: flex;
    flex-direction: column;
}

.product-buy {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: auto;
    height: 50px;
}

.product-price svg {
    width: 24px;
    height: 24px;
    cursor: pointer;
}